# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Don't perform any EOL conversions on VBA files to preserve CRLF from the VBE.
*.cls -text
*.frm -text
*.bas -text

# Denote all files that are truly binary and should not be modified.
*.frx binary
